// ==========================================================================
// Buttons
// ==========================================================================

//
// This is an example simple buttons component.
// Extend the framework by building your own components that make up your UI.
//

@import "../../assets/styles/settings/settings.colors";
@import "../../assets/styles/settings/settings.manifest";
@import "../../assets/styles/settings/settings.typography";
@import "../../assets/styles/arin/1-settings/settings.global";
@import "../../assets/styles/settings/settings.core";
@import "../../assets/styles/arin/2-tools/tools.math";
@import "../../assets/styles/arin/2-tools/tools.rem";

// variable url asset
$url-image: "../../assets/images";

// Variable(s)
$btn-border-width:              1px !default;
$btn-ghost-border-width:        2px !default;

$btn-font-weight:               700 !default;
$btn-font-size:                 $global-font-size !default;
$btn-font-size--tiny:           12px !default;
$btn-font-size--small:          12px !default;
$btn-font-size--large:          16px !default;

$btn-height:                    36px !default;
$btn-height--tiny:              24px !default;
$btn-height--small:             30px !default;
$btn-height--large:             42px !default;

$enable-btn--tiny:              false !default;
$enable-btn--small:             false !default;
$enable-btn--large:             false !default;

$enable-btn--narrow:            false !default;

$enable-btn--square:            false !default;
$enable-btn--pill:              false !default;
$enable-btn--block:             false !default;
$enable-btn--farleft-icon:      false !default;

$enable-btn--ghost:             false !default;
$enable-btn--naked:             false !default;
$enable-btn--semi-naked:        false !default;

$enable-btn--tag:               false !default;

$btn-default-bg-color:          $global-color-sand-light !default;
$btn-default-bg-color--hover:   $global-color-sand !default;
$btn-default-bg-color--active:  $global-color-ash-light !default;
$btn-default-text-color:        $global-color-black !default;
$btn-default-text-color--hover: $global-color-red-brand !default;

$btn-red-bg-color:              $global-color-red-brand !default;
$btn-red-bg-color--hover:       $global-color-red-dark !default;
$btn-red-bg-color--active:      $global-color-red-super-dark !default;
$btn-red-text-color:            $global-color-white !default;
$enable-btn--red:               false !default;

$btn-green-bg-color:            $global-color-green !default;
$btn-green-bg-color--hover:     $global-color-green-dark !default;
$btn-green-bg-color--active:    $global-color-green-super-dark !default;
$btn-green-text-color:          $global-color-white !default;
$enable-btn--green:             false !default;

$btn-yellow-bg-color:           $global-color-yellow !default;
$btn-yellow-bg-color--hover:    $global-color-yellow-dark !default;
$btn-yellow-bg-color--active:   $global-color-yellow-super-dark !default;
$btn-yellow-text-color:         $global-color-black !default;
$enable-btn--yellow:            false !default;

$btn-black-bg-color:           lighten($global-color-black, 10%) !default;
$btn-black-bg-color--hover:    $global-color-black !default;
$btn-black-bg-color--active:   $global-color-black !default;
$btn-black-text-color:         $global-color-white !default;
$enable-btn--black:            true !default;

$btn-white-bg-color:            $global-color-white !default;
$btn-white-bg-color--hover:     $global-color-white !default;
$btn-white-bg-color--active:    $global-color-white !default;
$btn-white-border-color:        $global-color-ash-light !default;
$btn-white-border-color--hover: $global-color-ash-dark !default;
$btn-white-text-color:          $global-color-charcoal !default;
$enable-btn--white:             true !default;

$btn-pink-bg-color:             $global-color-pink-coral !default;
$btn-pink-bg-color--hover:      color-level($btn-pink-bg-color, -1) !default;
$btn-pink-bg-color--active:     color-level($btn-pink-bg-color, -2) !default;
$btn-pink-text-color:           $global-color-white !default;
$enable-btn--pink:              false !default;

$btn-online-badge-offline:      $global-color-ash-light !default;
$btn-online-badge-online:       $global-color-green !default;

$btn-check-active-bg-color:     $global-color-white !default;
$btn-check-active-border-color: $global-color-red-brand !default;
$btn-check-active-text-color:   $global-color-black !default;

$enable-btn--disabled:          false !default;

$btn-spinner-size:              28px;
$btn-spinner-size--tiny:        20px;
$btn-spinner-size--small:       24px;
$btn-spinner-size--large:       32px;
$enable-btn--spinner:           false !default;
//
// Private variable only, do not alter anything below!
// ==========================================================================
// Button height formula to find padding top and bottom
// btn-height = base-line-height + (padding: top + bottom) + (border top + bottom)
//6 = 20 + ? + 26 - 20 - 2 = ?
//
$btn-default-padding: $btn-height - $global-line-height - double($btn-border-width);
$btn-tiny-padding: $btn-height--tiny - $global-line-height - double($btn-border-width);
$btn-small-padding: $btn-height--small - $global-line-height - double($btn-border-width);
$btn-large-padding: $btn-height--large - $global-line-height - double($btn-border-width);

$btn-ghost-default-padding: $btn-height - $global-line-height - double($btn-ghost-border-width);
$btn-ghost-tiny-padding: $btn-height--tiny - $global-line-height - double($btn-ghost-border-width);
$btn-ghost-small-padding: $btn-height--small - $global-line-height - double($btn-ghost-border-width);
$btn-ghost-large-padding: $btn-height--large - $global-line-height - double($btn-ghost-border-width);

//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Reset/normalize some styles.
// 4. Force all button-styled elements to appear clickable.
// 5. Fixes odd inner spacing in IE7.
// 6. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
//

.c-btn {
  position: relative;
  display: inline-block; // 1
  vertical-align: middle; // 2
  margin: 0; // 3
  padding: rem-calc(halve($btn-default-padding) $global-spacing-unit); // 6
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-align: center; // 3
  line-height: rem-calc($global-line-height);
  cursor: pointer; // 4
  overflow: visible; // 5
  border-radius: $global-border-radius;
  transition:
    color .3s ease-out,
    opacity .3s ease-out,
    background .3s ease-out;
  border-width: $btn-border-width;
  border-style: solid;
  border-color: $btn-default-bg-color--active;
  background-color: $btn-default-bg-color;
  color: $btn-default-text-color;
  white-space: nowrap;
  appearance: none;
  width: auto;
  height: auto;
  letter-spacing: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none; // 3
    color: $btn-default-text-color--hover;
  }

  &:hover,
  &:focus {
    background-color: $btn-default-bg-color--hover;
  }

  &:active,
  &.is-active {
    background-color: $btn-default-bg-color--active;
    color: $btn-default-text-color--hover;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.c-btn__icon {
  font-size: rem-calc($btn-font-size + 2);
}

.c-btn__text {
  margin-left: 4px; // magic number, requirement from UI Designer.
}

//
// Size variants
// ==========================================================================
@if ($enable-btn--tiny == true) {
  .c-btn--tiny {
    font-size: rem-calc($btn-font-size--tiny);
    padding: rem-calc(halve($btn-tiny-padding) $global-spacing-unit--tiny); // 6

    .c-btn__icon {
      font-size: rem-calc($btn-font-size--tiny + 2);
    }

    @if ($enable-btn--spinner == true) {
      .c-btn--spinner {
        &__icon::before {
          background-size: rem-calc($btn-spinner-size--tiny);
        }
      }
    }
  }
}

@if ($enable-btn--small == true) {
  .c-btn--small {
    font-size: rem-calc($btn-font-size--small);
    padding: rem-calc(halve($btn-small-padding) $global-spacing-unit--tiny); // 6

    .c-btn__icon {
      font-size: rem-calc($btn-font-size--small + 2);
    }

    @if ($enable-btn--spinner == true) {
      .c-btn--spinner {
        &__icon::before {
          background-size: rem-calc($btn-spinner-size--small);
        }
      }
    }
  }
}

@if ($enable-btn--large == true) {
  .c-btn--large {
    font-size: rem-calc($btn-font-size--large);
    padding: rem-calc(halve($btn-large-padding) $global-spacing-unit--medium); // 6

    .c-btn__icon {
      font-size: rem-calc($btn-font-size--large + 2);
    }

    @if ($enable-btn--spinner == true) {
      .c-btn--spinner {
        &__icon::before {
          background-size: rem-calc($btn-spinner-size--large);
        }
      }
    }
  }
}

@if ($enable-btn--narrow == true) {
  .c-btn--narrow {
    padding-left: $global-spacing-unit--tiny;
    padding-right: $global-spacing-unit--tiny;
  }

  .c-btn--tight {
    padding-left: 6px;
    padding-right: 6px;

    @if ($enable-btn--block == true) {
      &.c-btn--block {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

//
// Color variants
// ==========================================================================
@if ($enable-btn--red == true) {
  .c-btn--red {
    background-color: $btn-red-bg-color;
    border-color: $btn-red-bg-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 3
      color: $btn-red-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-red-bg-color--hover;
      border-color: $btn-red-bg-color--hover;
    }

    &:active,
    &.is-active {
      background-color: $btn-red-bg-color--active;
      border-color: $btn-red-bg-color--active;
      color: $btn-red-text-color;
    }

    @if ($enable-btn--red == true) and ($enable-btn--disabled == true) {
      // scss-lint:disable QualifyingElement
      &[disabled],
      &.c-btn[disabled],
      &.c-btn--disabled {
        &,
        &:hover,
        &:focus,
        &:active {
          color: $global-color-white;
        }
      }
    }
  }
}

@if ($enable-btn--green == true) {
  .c-btn--green {
    background-color: $btn-green-bg-color;
    border-color: $btn-green-bg-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 3
      color: $btn-green-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-green-bg-color--hover;
      border-color: $btn-green-bg-color--hover;
    }

    &:active,
    &.is-active {
      background-color: $btn-green-bg-color--active;
      border-color: $btn-green-bg-color;
      color: $btn-green-text-color;
    }
  }
}

@if ($enable-btn--yellow == true) {
  .c-btn--yellow {
    background-color: $btn-yellow-bg-color;
    border-color: $btn-yellow-bg-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 3
      color: $btn-yellow-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-yellow-bg-color--hover;
      border-color: $btn-yellow-bg-color--hover;
    }

    &:active,
    &.is-active {
      background-color: $btn-yellow-bg-color--active;
      border-color: $btn-yellow-bg-color--active;
      color: $btn-yellow-text-color;
    }
  }
}

@if ($enable-btn--black == true) {
  .c-btn--black {
    background-color: $btn-black-bg-color;
    border-color: $btn-black-bg-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 3
      color: $btn-black-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-black-bg-color--hover;
      border-color: $btn-black-bg-color--hover;
    }

    &:active,
    &.is-active {
      background-color: $btn-black-bg-color--active;
      border-color: $btn-black-bg-color--active;
      color: $btn-black-text-color;
    }
  }
}

@if ($enable-btn--white == true) {
  .c-btn--white {
    background-color: $btn-white-bg-color;
    border-color: $btn-white-border-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 3
      color: $btn-white-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-white-bg-color--hover;
      border-color: $btn-white-border-color--hover;
    }

    &:active,
    &.is-active {
      background-color: $btn-white-bg-color--active;
      border-color: $btn-white-bg-color--active;
      color: $btn-white-text-color;
    }
  }
}

@if ($enable-btn--pink == true) {
  .c-btn--pink {
    background-color: $btn-pink-bg-color;
    border-color: $btn-pink-bg-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 3
      color: $btn-pink-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-pink-bg-color--hover;
      border-color: $btn-pink-bg-color--hover;
    }

    &:active,
    &.is-active {
      background-color: $btn-pink-bg-color--active;
      border-color: $btn-pink-bg-color--active;
      color: $btn-pink-text-color;
    }
  }
}

// Disabled buttons.
// 1. make it little bit transparent
// 2. show not allowed cursor when hover
@if ($enable-btn--disabled == true) {
  // scss-lint:disable QualifyingElement
  button[disabled],
  .c-btn[disabled],
  .c-btn--disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      opacity: .32; // 1
      cursor: not-allowed; // 2
      // color: $global-color-black;
    }
  }
}

//
// Style variants [Pill | Block | Ghost | Naked | Groups]
// ==========================================================================

// Square
@if ($enable-btn--square == true) {
  .c-btn--square {
    width: rem-calc($btn-height);
    height: rem-calc($btn-height);
    padding: 0;

    > .c-btn__icon {
      display: inline-block;
      vertical-align: middle;
      line-height: rem-calc($btn-height - double($btn-border-width));
    }

    @if ($enable-btn--small) {
      &.c-btn--small {
        width: rem-calc($btn-height--small);
        height: rem-calc($btn-height--small);
        padding: 0;

        > .c-btn__icon {
          line-height: rem-calc($btn-height--small);
        }
      }
    }

    @if ($enable-btn--large) {
      &.c-btn--large {
        width: rem-calc($btn-height--large);
        height: rem-calc($btn-height--large);
        padding: 0;

        > .c-btn__icon {
          line-height: rem-calc($btn-height--large);
        }
      }
    }
  }
}

// Semi-naked
@if ($enable-btn--semi-naked == true) {
  .c-btn--semi-naked {
    display: inline-table;
    width: rem-calc($btn-height);
    height: rem-calc($btn-height);
    padding: 0;
    background: none;
    border: 0;

    > .c-btn__icon {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Pill
@if ($enable-btn--pill == true) {
  .c-btn--pill {
    border-radius: 100px;
  }
}

// Block
@if ($enable-btn--block == true) {
  .c-btn--block {
    display: block;
    width: 100%;
    // padding-left: 0;
    // padding-right: 0;
  }

  @if ($enable-btn--farleft-icon == true) {
    .c-btn__farleft-icon {
      position: absolute;
      top: 50%;
      left: $global-spacing-unit--small;
      transform: translate(0, -50%);
    }
  }
}

// Ghost
// This buttons have see-through backgrounds and are bordered.
@if ($enable-btn--ghost == true) {
  .c-btn--ghost {
    padding: rem-calc(halve($btn-ghost-default-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 6
    background: none;
    border-style: solid;
    border-width: $btn-ghost-border-width;
    border-color: $btn-default-bg-color;
    color: $btn-default-bg-color;
    box-shadow: none;

    &:hover,
    &:focus,
    &.is-active {
      color: $btn-default-text-color;
      background-color: $btn-default-bg-color--hover;
    }

    &:active {
      background-color: $btn-default-bg-color--active;
    }

    @if ($enable-btn--tiny == true) {
      &.c-btn--tiny {
        padding: rem-calc(halve($btn-ghost-tiny-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 6
      }
    }

    @if ($enable-btn--small == true) {
      &.c-btn--small {
        padding: rem-calc(halve($btn-ghost-small-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 6
      }
    }

    @if ($enable-btn--large == true) {
      &.c-btn--large {
        padding: rem-calc(halve($btn-ghost-large-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 6
      }
    }

    @if ($enable-btn--red == true) {
      &.c-btn--red {
        border-color: $btn-red-bg-color--active;
        color: $btn-red-bg-color;

        &:hover,
        &:focus {
          color: $btn-red-text-color;
          background-color: $btn-red-bg-color--hover;
        }

        &:active {
          background-color: $btn-red-bg-color--active;
        }
      }

      @if ($enable-btn--block == true) {
        &.c-btn--block {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    @if ($enable-btn--green == true) {
      &.c-btn--green {
        border-color: $btn-green-bg-color--active;
        color: $btn-green-bg-color;

        &:hover,
        &:focus {
          color: $btn-green-text-color;
          background-color: $btn-green-bg-color--hover;
        }

        &:active {
          background-color: $btn-green-bg-color--active;
        }
      }
    }

    @if ($enable-btn--yellow == true) {
      &.c-btn--yellow {
        border-color: $btn-yellow-bg-color--active;
        color: $btn-yellow-bg-color;

        &:hover,
        &:focus {
          color: $btn-yellow-text-color;
          background-color: $btn-yellow-bg-color--hover;
        }

        &:active {
          background-color: $btn-yellow-bg-color--active;
        }
      }
    }

    @if ($enable-btn--pink == true) {
      &.c-btn--pink {
        border-color: $btn-pink-bg-color--active;
        color: $btn-pink-bg-color;

        &:hover,
        &:focus {
          color: $btn-pink-text-color;
          background-color: $btn-pink-bg-color--hover;
        }

        &:active {
          background-color: $btn-pink-bg-color--active;
        }
      }
    }
  }
}

// Naked
// This buttons just display text inside.
@if ($enable-btn--naked == true) {
  .c-btn--naked {
    background: none transparent;
    border-color: transparent;
    color: $btn-default-bg-color;
    box-shadow: none;

    &:hover,
    &:focus {
      color: $btn-default-bg-color;
      background-color: transparent;
      text-decoration: underline;
    }

    &:active {
      background-color: transparent;
    }

    @if ($enable-btn--square == true) {
      &.c-btn--square {
        padding: 0;
      }
    }

    @if ($enable-btn--red == true) {
      &.c-btn--red {
        border: 0;
        color: $btn-red-bg-color;

        &:hover,
        &:focus {
          color: $btn-red-bg-color--hover;
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }

      @if ($enable-btn--block == true) {
        &.c-btn--block {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    @if ($enable-btn--green == true) {
      &.c-btn--green {
        border: 0;
        color: $btn-green-bg-color;

        &:hover,
        &:focus {
          color: $btn-green-bg-color--hover;
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }
    }

    @if ($enable-btn--yellow == true) {
      &.c-btn--yellow {
        border: 0;
        color: $btn-yellow-bg-color;

        &:hover,
        &:focus {
          color: $btn-yellow-bg-color--hover;
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }
    }
  }
}

// Tag
// For tag page
@if ($enable-btn--tag == true) {
  .c-btn--tag-has-landing {
    font-weight: normal;
  }

  .c-btn--tag-no-landing {
    font-weight: normal;
    border: 0;
    color: $global-color-gray-tag;
    cursor: default;
  }
}

.c-btn--online {
  .c-badge {
    background-color: $btn-online-badge-offline;
    width: 8px;
    height: 8px;
    margin-bottom: 4px;
  }

  &.c-btn--has-online .c-badge {
    background-color: $btn-online-badge-online;
  }
}

.c-btn--check {
  &.is-active {
    border-style: solid;
    border-width: $btn-border-width;
    border-color: $btn-check-active-border-color;
    background-color: $btn-check-active-bg-color;
    color: $btn-check-active-text-color;
  }
}

//MOM-EVENT = CNY
.nego-cny-flash {
  .js-modal-negotiation-trigger::before {
    content: "Nego Cincai";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    background-color: inherit;
    background-image: url("/images/desktop/nego-button/lampion_cincai.svg");
    background-repeat: no-repeat;
    background-position: 190px 5px;
    padding-left: 30px;
  }

  .btn.btn--block.btn--yellow::before {
    content: "Nego Cincai";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    background-color: inherit;
    background-image: url("/images/desktop/nego-button/lampion_cincai.svg");
    background-repeat: no-repeat;
    background-position: 190px 5px;
    padding-left: 30px;
  }

  &.js-product-detail {
    .btn.btn--block.btn--yellow::before {
      background-position: 134px 5px;
    }
  }
}

@media screen and (max-width: 1170px) {
  .nego-cny-flash {
    .js-modal-negotiation-trigger::before {
      background-position: 143px 5px;
      padding-left: 30px;
    }

    .btn.btn--block.btn--yellow::before {
      background-position: 143px 5px;
      padding-left: 30px;
    }
  }
}

// Loading Spinner Button
@if ($enable-btn--spinner == true) {
  .c-btn--spinner {
    &__icon {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .3s;
      width: 100%;

      &::before {
        background: url("/images/desktop/loader.svg") 50% #{50%} / #{rem-calc($btn-spinner-size)} no-repeat;
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 24px;
      }
    }

    &__text {
      opacity: 1;
      transition: opacity .3s;
    }

    &.is-active {
      cursor: wait;

      .c-btn--spinner__icon {
        opacity: 1;
      }

      .c-btn--spinner__text {
        opacity: 0;
      }
    }

    @if ($enable-btn--red == true) {
      &.c-btn--red {
        .c-btn--spinner__icon {
          &::before {
            // background-image: url("/images/desktop/loader-white.svg");
            background-image: url("https://frontend.bukalapak.io/styleguide_desktop/images/desktop/loader-white.svg");
          }
        }
      }
    }

    @if ($enable-btn--green == true) {
      &.c-btn--green {
        .c-btn--spinner__icon {
          &::before {
            background-image: url("/images/desktop/loader-white.svg");
            // background-image: url("#{$url-image}/loader-white.svg");
          }
        }
      }
    }

    @if ($enable-btn--yellow == true) {
      &.c-btn--yellow {
        .c-btn--spinner__icon {
          &::before {
            background-image: url("/images/desktop/loader-white.svg");
            // background-image: url("#{$url-image}/loader-white.svg");
          }
        }
      }
    }

    @if ($enable-btn--pink == true) {
      &.c-btn--pink {
        .c-btn--spinner__icon {
          &::before {
            background-image: url("/images/desktop/loader-white.svg");
          }
        }
      }
    }

    // overwrite disabled button
    @if ($enable-btn--disabled == true) {
      &.is-active {
        &[disabled],
        &.c-btn[disabled],
        &.c-btn--disabled {
          &,
          &:hover,
          &:focus,
          &:active {
            opacity: 1;
          }
        }
      }
    }

    // overwrite ghost button
    @if ($enable-btn--ghost == true) {
      &.c-btn--ghost {
        &:hover,
        &:focus,
        &.is-active {
          background-color: transparent;
        }
      }
    }
  }
}

