.c-label--yellow,
.c-label--yellow:hover,
.c-label--yellow:focus {
  color: #333;
}
.c-label--yellow {
  border-color: #ffc53e;
  background-color: #ffc53e;
}
.c-label--pink,
.c-label--pink:hover,
.c-label--pink:focus {
  color: #fff;
}
.c-label--pink {
  border-color: #ff566a;
  background-color: #ff566a;
}

.c-label {
  font-family: $font-family-text;
  font-size: 10px;
  border-color: #ddd;
  background-color: #fafafa;
  line-height: 14px;
  align-items: center;
  margin: 0;
  padding: 1px 6px;
  overflow: visible;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #333;
  }
  // color
  &--red,
  &--red:hover,
  &--red:focus {
    border-color: #d71149;
    background-color: #d71149;
    color: #fff;
  }
  &--green,
  &--green:hover,
  &--green:focus {
    border-color: #87cc62;
    background-color: #87cc62;
    color: #fff;
  }
  &--yellow,
  &--yellow:hover,
  &--yellow:focus {
    border-color: #ffc53e;
    background-color: #ffc53e;
    color: #333;
  }
  &--pink,
  &--pink:hover,
  &--pink:focus {
    border-color: #ff566a;
    background-color: #ff566a;
    color: #fff;
  }
}
